.options {
  display: flex;
  flex-direction: column;
  height: 30rem;
  overflow-y: auto;
  width: 15rem;
  border: 1px solid var(--secondary-colour);
  border-radius: 10px;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  border-radius: 5px;
  min-height: 3rem;
  align-items: center;
}

.option:nth-child(even) {
  background-color: var(--secondary-colour);
}

.quiz-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.1em;
}

/* .options::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}
*/