:root {
  --primary-colour: #001F3F;
  --secondary-colour: #6B7B8A;
  --tertiary-colour: #FFD700;
}

.btn-submit {
  padding: 10px;
  font-size: 20px;
  color: var(--tertiary-colour);
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: var(--secondary-colour);
  transition: 0.5s;
}

.btn-submit:hover {
  color: var(--accent-color);
  background-color: transparent;
  border:1px solid var(--accent-color);
  box-shadow: 0 0 15px var(--tertiary-colour);
  transition: 0.5s;
  border-radius: 15px;
}

.container {
  width: 80%;
  margin: auto auto 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  /* color: var(--secondary-colour); */
  /* color: var(--tertiary-colour); */
}

h1{
  color: var(--tertiary-colour)
}